.blog-component{
    max-height: fit-content;
    max-width: fit-content;
    padding: 5px;
}

.blog-component > p{
    font-size: 5em;
    font-weight: bolder;
}

/* add-icon & add-area css in event.css  */

.add-area input,.add-area textarea{
    display: block;
    width: 87%;
    padding: 10px;
    margin: 20PX;
    
    /* background-color: rgba(135, 199, 210, 0.274); */
}

/* add-area button css is in event.css */
.blogs{
    padding: 10px;
}

/* .blogs > p::before{
    content: "";
    position: relative;
    width: 10px;
    top: 0;
    left: 0;
    border: 2px solid black;
} */

.blog-box{
    border: 2px solid black;
    margin: 20px 20px;
    /* padding: 20px ; */
    border-radius: 10px;
    display: flex;
}

.blog-img{
    width: 40%;
    border: 2px solid grey;
    margin-right: 15px;
    border-radius: 8px;
}
.blog-img>img{
    border-radius: 8px;
    max-width: 100%;
    min-height: 100%;
    
}
.blog-content{
    padding: 20px;
}
.row-1{
    /* margin: 10px; */
}
.row-2{
    display: flex;
    padding-right: 30px;
    justify-content: space-between;
}
.row-3{
    margin-top: 15px;
    text-align: right;
}