.add{
    max-height: fit-content;
    max-width: fit-content;
    padding: 5px;
}

.add-icon{
    width: 7vw;
    background: black;
    height: 7vh;
    border-radius: 100%;
    color: white;
    text-align: center;
    padding: 0.6rem 0px;
}

.add-icon:hover{
    color: yellow;
}

.add-icon i{
    font-size: large;
}

.add-area{
    display: none;
    padding: 10px;
    width: 95vw;
    margin: 20px;
    /* display: flex;
    text-align: center; */
    /* justify-content: end; */
    /* border: 2px solid black; */
    /* background-color: black; */
}


.add-area input,.add-area textarea{
    display: block;
    width: 87%;
    padding: 10px;
    margin: 20PX;
    
    /* background-color: rgba(135, 199, 210, 0.274); */
}

.add-area button,.blog-box button{
    margin: 10px 20px;
    padding: 5px 35px;
    border-radius: 20px;
    /* background-color: rgb(51, 230, 111); */
}
.blogs{
    padding: 10px;
}

.blogs > p{
    font-size: 5em;
    font-weight: bolder;
}

/* .blogs > p::before{
    content: "";
    position: relative;
    width: 10px;
    top: 0;
    left: 0;
    border: 2px solid black;
} */

.blog-box{
    border: 2px solid black;
    margin: 20px 0px;
    padding: 20px ;
}
.blog-section{
   margin: 30px;
}